doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About Us
  body
    header
      h1 About Us
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
    main
      p We are a team of developers building awesome applications with Express!
    footer
      p © 2024 Express App
